.mui-bar{
	height:44px;
	line-height:44px;
	background-color: #E44346;
	color:#000;
}
.mui-bar a.mui-action-back{
	color: #000;
}
.mui-bar a.mui-action-back font{
	position: relative;
	left: -10px;
	font-size: 18px;
}
.mui-bar h1{
	font-size: 18px;
}
